$mainColor: #5AC8FA;
$primary: #000000;
$whiteColor: #FFFFFF;


// font style
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,600&display=swap');


.nav-bar-welcome-page-logo {
    margin: 0;
    width: 100px;
    height: 80px;
    background-color: $primary;
    display: flex;
    justify-content: center;
    align-items: center;
    float:left;
}

.nav-bar-welcome-page-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 70px;
    padding-right: 60px;
}
.nav-link {
    text-decoration: none;
    padding-right: 30px ;
    font-size: 18px;
    color: rgb(131, 131, 131);
    font-family: 'Poppins', sans-serif;
}

.nav-link-notify-me {
    text-decoration: none;
    color: $primary;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    
    background-color: $mainColor;
}

.welcome-page-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 10px 100px 0 100px ;
    background-image: linear-gradient(to right,rgb(239, 239, 239) , rgb(255, 255, 255));
}

.content-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.welcome-title {
    font-size: 60px;
    font-weight: 600;
}

.see-product {
    margin-top: 200px;
    font-size: 16px;
    color: $mainColor;
}

.icons-container {
    margin-top: 70px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
