$mainColor: #5AC8FA;
$primary: #000000;
$whiteColor: #FFFFFF;


// font style
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,600&display=swap');

.nav-bar {
    height: 60px;
    background-color: $primary;
}

.landing-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient($mainColor, $whiteColor, $whiteColor);
}
.content-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}
.new-product-title {
    font-size: 25px;
    font-weight: 500;
}
.new-product-link{
    text-decoration: none;
    color: $primary;
}

.year {
    margin-top: 200px;
    font-size: 65px;
    font-weight: 600;
    letter-spacing: 12px;
}