$mainColor: #5AC8FA;
$primary: #000000;
$whiteColor: #FFFFFF;


// font style
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,600&display=swap');

.nav-bar-welcome-page-logo {
    width: 60px;
    height: 70px;
    background-color: $primary;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-bar-welcome-page-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 60px;
}
.nav-link {
    text-decoration: none;
    padding-right: 30px ;
    color: $primary;
    font-family: 'Poppins', sans-serif;
}

.nav-link-notify-me {
    text-decoration: none;
    color: $primary;
    font-family: 'Poppins', sans-serif;
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    color: white;
    
    background-color: $mainColor;
}

.welcome-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content-container {
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.welcome-title {
    font-size: 60px;
    font-weight: 600;
}

.see-product {
    margin-top: 200px;
    font-size: 16px;
    color: $mainColor;
}

.icons-container {
    margin-top: 70px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
