$mainColor: #5AC8FA;
$primary: #000000;
$whiteColor: #FFFFFF;


// font style
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100,300,600&display=swap');

.container {
    height: 100vh;
    background-image: linear-gradient($mainColor, $whiteColor, $whiteColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sign-up-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 450px;
    background-color: $whiteColor;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #F2F2F2;
    opacity: 1;
}

.sign-in-title{
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.form-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

label {
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 5px;
}
.input-box {
    width: 350px;
    height: 50px;
}

.form-inputs {
    margin-top: 20px;
}

.sign-in-btn {
    margin-top: 30px;
    width: 150px;
    height: 50px;
    background: $primary 0% 0% no-repeat padding-box;
    opacity: 1;
}
.sign-in-text {
    font-family: 'Poppins', sans-serif;
    color: $whiteColor;
}

.already-registered-container{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: 10px;
    width: 27%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.sign-up-link {
    color: $mainColor;
    padding-left: 5px;
    text-decoration: none;
}